body
  background: #000
  color: #ccc
  font-family: verdana

h1
  color: #FFE206

a
  color: #13DDFA
  text-decoration: none

a:hover
  text-decoration: underline

table
  border-collapse: collapse
  thead
    border-bottom: 1px solid #13DDFA
  th, td
    padding: 5px 10px
