body
  background: #000
  color: #ccc
  font-family: verdana

div#page, header
  margin: 0 auto
  width: 700px

header h1
  color: #FFE206

a
  color: #13DDFA
  text-decoration: none

a:hover
  text-decoration: underline

article
  line-height: 30px

table
  border-collapse: collapse
  thead
    border-bottom: 1px solid #13DDFA
  th, td
    padding: 5px 10px
